<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">  
	
	<!-- 定义/引入一个任务类  改-->
	<bean id="DayJob" class="lj.elevator.erp.utils.DayJob">
	</bean>
	<!-- 任务类描述 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的哪个类  改 -->
		<property name="targetObject" ref="DayJob"></property>
		<!-- 调用的是哪个方法  改-->
		<property name="targetMethod" value="jobmethod"></property>
	</bean>
	<!-- 触发器  -->
	<bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail"></property>
		<!-- cron：7子表达式 运行的时间设置 改 -->
		<property name="cronExpression" value="0 0 0 1/1 * ?"></property>
	</bean>
	<!-- 任务调度管理容器 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
				<ref bean="mailTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>
	